@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.learn-more {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F0FDF4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 8px;
    margin-top: 30px;
    width: 160px;
    height: 46px;
    background: #1B1C1F;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
}

/************************ Header Section ************************/
.header {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    width: 1158px;
    height: 54px;
    display: flex;
    align-items: center
}

.nav-list {
    color: #1B1C1F;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    margin-right: 32px;
}

.sd {
    margin-right: -5px;
}

.list1 {
    color: #FFCE40;
    font-weight: 700;
    margin-left: 111px;
}

.lang {
    width: 162px;
    height: 100%;
    margin-left: 4.5px;
    margin-right: 16px;
    background: #FFFFFF;
    border: 1px solid #EFF0F7;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(8, 15, 52, 0.04);
    display: flex;
    align-items: center;
}

.usa-flag {
    width: 36px;
    height: 36px;
    margin-left: 9px;
}

.lang p {
    margin-left: 10px;
    color: #1B1C1F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.chevron {
    margin-left: 26px;
}

.download-btn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #1B1C1F;
    width: 122px;
    height: 54px;
    line-height: 18px;
    color: #FFFFFF;
    border-radius: 10px;
}

/************************ Intro Section ************************/
.intro-bg {
    width: 100%;
    height: 782px;
    background-color: #E47B00;
    margin-bottom: 83px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1158px;
}

.left-col h3 {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #1B1C1F;
    margin-top: 168px;
    width: 361px;
    height: 42px;
    background-color: #FFCE40;
    border-radius: 20px;
    align-items: center;
}

.left-col h2 {
    margin-top: 25px;
    margin-bottom: 35px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #1B1C1F;
}

.left-col p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(27, 28, 31, 0.75);
}

.right-col {
    margin-top: 84px;
    width: 590px;
    height: 590px;
}

.apps {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 357px;
}

.play-store {
    display: flex;
    align-items: center;
    width: 179px;
    height: 53px;
    background-color: black;
    border-radius: 5px;
}

.play-store img {
    margin-left: 6px;
    margin-right: 5px;
    width: 40px;
}

.play-store-text p {
    margin-top: -10px;
    color: white;
    font-size: 10px;
}

.play-store-text h6 {
    font-family: 'Lato';
    font-size: 22px;
    color: white;
}

.app-store {
    display: flex;
    width: 157px;
    height: 53px;
    background-color: black;
    border-radius: 5px;
}

.app-store-img {
    margin-left: 2px;
    margin-top: 5px;
    width: 45px;
}

.app-store-text p {
    font-size: 10px;
    color: white;
}

.app-store-text h6 {
    font-family: 'Lato';
    font-size: 22px;
    color: white;
}

/************************ About Section ************************/
.about-title {
    width: 600px;
    margin: 0 auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2A3342;
    position: relative;
}

.about-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #FFCE40;
    z-index: -1;
}

.about-p {
    width: 1001px;
    margin: 18px auto 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(27, 28, 31, 0.75);
}

.sales-manager-box {
    padding-top: 32px;
    margin-top: 60px;
    margin-bottom: 24px;
    width: 359px;
    height: 272px;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(27, 28, 31, 0.1);
    border-radius: 20px;
}

.E-Commerce-Store-box {
    padding-top: 32px;
    width: 359px;
    height: 272px;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(27, 28, 31, 0.1);
    border-radius: 20px;
}

.digital-payment-box {
    padding-top: 32px;
    margin-top: 60px;
    margin-bottom: 24px;
    width: 359px;
    height: 272px;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(27, 28, 31, 0.1);
    border-radius: 20px;
}

.marketing-manager-box {
    padding-top: 32px;
    width: 359px;
    height: 272px;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(27, 28, 31, 0.1);
    border-radius: 20px;
}

.sales-manager-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #FBC028;
    border-radius: 6px;
}

.smi1 {
    position: absolute;
}

.smi2 {
    top: 2px;
    position: relative;
}

.sales-manager-title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #1B1C1F;
}

.sales-manager-p {
    width: 290px;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(27, 28, 31, 0.75);
}

.e-commerce-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #FBC028;
    border-radius: 6px;
}

.e-commerce-icons {
    width: 24px;
}

.e-commerce-icon2 {
    width: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
}

.mmi1 {
    margin-right: -6px;
}

.mmi2 {
    margin-top: -12px;
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 35px auto 70px;
    width: 133px;
    height: 56px;
    background: #1B1C1F;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
}

/************************ Why Section ************************/

.why-p {
    width: 1008px;
    margin: 16px auto 38px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #5F5E5C;
}

.why-left-col {
    width: 481px;
}

.why-left-col h2 {
    margin-top: 114px;
    margin-bottom: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #1B1C1F;
}

.why-left-col p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(27, 28, 31, 0.75);
}

.back-1 {
    position: absolute;
    top: 2185px;
    right: 9px;
    width: 550px;
    height: 362px;
    background: rgba(251, 227, 156, 0.5);
    border-radius: 0px 181px;
    transform: matrix(-1, 0.05, 0.05, 1, 0, 0);
}

.back-2 {
    position: absolute;
    top: 2185px;
    right: 0;
    width: 562px;
    height: 362px;
    background: linear-gradient(291.38deg, #FFCE40 2.24%, #F2A520 106.52%);
    border-radius: 0px 181px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.why-img {
    position: relative;
    right: 80px;
    margin-bottom: 49px;
}

.back-3 {
    position: absolute;
    top: 2670px;
    left: 9px;
    width: 550px;
    height: 362px;
    background: rgba(251, 227, 156, 0.5);
    border-radius: 0px 181px;
    transform: rotate(2.97deg);
}

.back-4 {
    position: absolute;
    top: 2670px;
    left: 0;
    width: 562px;
    height: 362px;
    background: linear-gradient(291.38deg, #FFCE40 2.24%, #F2A520 106.52%);
    border-radius: 0px 181px;
}

.why-img1 {
    position: relative;
    left: 80px;
    top: 30px;
}

.why-right-col {
    width: 481px;
    margin-top: 105px;
}

.why-right-col h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: right;
    color: #1B1C1F;
}

.why-right-col p {
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: rgba(27, 28, 31, 0.75);
}

.why-right-col a {
    display: flex;
    justify-content: right;
}

.why-left-col1 {
    margin-top: 177px;
    width: 481px;
}

.why-left-col1 h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #1B1C1F;
}

.why-left-col1 p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(27, 28, 31, 0.75);
}

.why-left-col1 ul {
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(27, 28, 31, 0.75);
}

.back-5 {
    position: absolute;
    top: 3180px;
    right: 9px;
    width: 550px;
    height: 362px;
    background: rgba(251, 227, 156, 0.5);
    border-radius: 0px 181px;
    transform: matrix(-1, 0.05, 0.05, 1, 0, 0);
}

.back-6 {
    position: absolute;
    top: 3180px;
    right: 0;
    width: 562px;
    height: 362px;
    background: linear-gradient(291.38deg, #FFCE40 2.24%, #F2A520 106.52%);
    border-radius: 0px 181px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.why-img2 {
    position: absolute;
    right: 90px;
    margin-top: 112px;
}

.back-7 {
    position: absolute;
    top: 3630px;
    left: 9px;
    width: 550px;
    height: 362px;
    background: rgba(251, 227, 156, 0.5);
    border-radius: 0px 181px;
    transform: rotate(2.97deg);
}

.back-8 {
    position: absolute;
    top: 3630px;
    left: 0;
    width: 562px;
    height: 362px;
    background: linear-gradient(291.38deg, #FFCE40 2.24%, #F2A520 106.52%);
    border-radius: 0px 181px;
}

.why-img3 {
    height: 400px;
    position: relative;
    top: 52px;
    left: -140px;
}

/************************ Price Section ************************/

.price-title {
    margin: 0 auto;
    width: 740px;
    margin-top: 109px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #2A3342;
    position: relative;
}

.price-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #FFCE40;
    z-index: -1;
}

.price-p {
    margin: 20px auto 35px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #556987;
}

.price-box {
    width: 359px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(27, 28, 31, 0.1);
    border-radius: 10px;
}

.pricing {
    position: relative;
    height: 229px;
    background: linear-gradient(291.38deg, #FFCE40 2.24%, #F2A520 106.52%);
    border-radius: 10px;
}

.pricing h3 {
    padding-top: 32px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1B1C1F;
}

.pricing p {
    margin: 8px auto 13px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(27, 28, 31, 0.75);
}

.pricing h6 {
    position: absolute;
    top: 120px;
    left: 140px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 42px;
    color: #1B1C1F;
}

.pricing h4 {
    position: absolute;
    top: 120px;
    left: 167px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 79.2px;
    line-height: 99px;
    letter-spacing: -0.02em;
    color: #1B1C1F;
}

.features {
    margin-top: 31px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 12px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #FFCE40;
    border-radius: 10px;
}

.features p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(27, 28, 31, 0.75);
}

.get-started-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #F0FDF4;
    margin: 31px auto;
    width: 295px;
    height: 56px;
    background: #1B1C1F;
    box-shadow: 0px 1px 3px rgba(42, 51, 66, 0.06), 0px 1px 2px rgba(42, 51, 66, 0.03);
    border-radius: 6px;
}

/************************ Contact Section ************************/

.contact-box {
    padding-top: 106px;
    height: 419px;
    margin: 90px auto;
    background: linear-gradient(291.38deg, #F2A520 31.57%, #FFCE40 106.52%);
}

.contact-box h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1B1C1F;
}

.contact-box p {
    margin: 10px auto 26px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: rgba(27, 28, 31, 0.75);
}

.contact-form {
    display: flex;
    justify-content: center;
}

.email-form {
    width: 320px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D5DAE1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(27, 28, 31, 0.75);
    padding: 10px 14px;
}

.contact-us-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    width: 112px;
    height: 46px;
    background: #1B1C1F;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #F0FDF4;
}

/************************ Footer Section ************************/

.footer {
    padding-top: 88px;
    height: 496px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 248, 248, 0) 0%, #F8F8F8 100%);
}

.footer h3 {
    margin-top: 9px;
    margin-bottom: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #1B1C1F;
}

.phone {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #1B1C1F;
}

.footer h4 {
    margin-bottom: 21px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #2A3342;
}

.useful-links ul {
    list-style: none;
}

.as {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #556987;
}